*,*::before,*::after{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
}

#game-board{
  display: grid;
  grid-template-columns: repeat(var(--grid-size),var(--cell-size));
  grid-template-rows: repeat(var(--grid-size),var(--cell-size));
  background: #ccc;
  border-radius: 1vmin;
  gap:var(--cell-gap);
  padding:var(--cell-gap);
  position:relative;
}

.cell{
  background-color:#aaa;
  border-radius: 1vmin;
}

.tile{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vmin;
  font-weight: bold;
  width: var(--cell-size);
  height: var(--cell-size);
  top:calc((var(--y) * var(--cell-size)) + (var(--cell-gap) + var(--cell-gap) * var(--y)));
  left:calc((var(--x) * var(--cell-size)) + (var(--cell-gap) + var(--cell-gap) * var(--x)));
  background-color: hsl(200,50%,var(--bg-lightness));
  color: hsl(200,50%,var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0%{
    opacity: 0.5;
    transform: scale(0);
  }
}